<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/stylesheet" href="/stylesheet.css">
    <script type="text/javascript" src="script.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
   <title>Djurspelet</title>
</head>
<body>

        
       
    <h1>Djurspelet pau svenska</h1>
        
      
            
    <p id="stringObject" style="display: none"><%= JSON.stringify(jsonData) %></p>

    
        <!-- <form action="/" method="get"> -->
        <!-- <input type="text" name="ans"> -->
        <button id="yesBtn" name="answer" value ="Yes">Ja!</button>
        <button id="noBtn" name="answer" value="No">Nej!</button>
   
    <!-- </form> -->
        <br><br>
    <!-- <form action="/" method="post"> -->
    
    <input type="submit" id="submitAnswer" value="Svara på fråga">
    
    <!-- </form> -->

    <p id="output"></p>
    <input type="submit" id="refresh" style="background-color:green; visibility: hidden;" onclick="RefreshPage()" value="Börja om spel">
    <input type="text" id="newQuestion" style=" display: none" placeholder="Skriv djuret och tryck enter" name="newQuestion">
    <span id="count">1</span>
</body>
</html>
<script>
    
var yesButton = document.getElementById('yesBtn');
var noButton = document.getElementById('noBtn');
var counter =  document.getElementById("count");
var output = document.getElementById('output');
var stringObject= document.getElementById("stringObject").innerText;
var newQuestion = document.getElementById('newQuestion');
var refresh = document.getElementById('refresh');
var count=1
var JsonObject = JSON.parse(stringObject)
var saveToJson={};

    var firstQuestion = findId(JsonObject,count)
    output.innerText = firstQuestion.question
yesButton.addEventListener("click", function(){

    count = count*=2;
    counter.innerHTML = count
    
    var foundObject = findId(JsonObject,count);
    console.log("är foundObj" + foundObject);

    if(foundObject==undefined){
            console.log('hittar undefined')
            output.innerHTML += "<h4>" + "Datorn har gissat rätt" + "</h4>";
            document.getElementById('refresh').style.visibility = 'visible';
        }

    if(foundObject){
        if(foundObject.question){
            console.log("hittat fråga");
            printQuestion(foundObject);
        }
        
        else if(foundObject.animal){
            console.log("hittat djur");
            printGuess(foundObject);
        }
    }
        // if(foundObject=='undefined' || foundObject == null){
        //     output.innerHTML += "<p>Vad heter ditt djur?</p>";
        //     var newQuestion = document.getElementById('newQuestion').value;
        //     output.innerText += newQuestion;
        //     console.log(newQuestion); 
        //     if(newQuestion)
        //     output.innerText += newQuestion;
        //     output.innerText += "Vad skiljer en found";
        // }
    
    //output.textContent = foundObject.question
    
});

noButton.addEventListener("click", function(){
    
    count = count*2+1;

    var foundObject = findId(JsonObject,count);
   if(foundObject){
        if(foundObject.question){
            printQuestion(foundObject);
        }
        else if(foundObject.animal){

        }
    }
        if(foundObject == null){
            console.log("inne");
            if (newQuestion.style.display === "none") {
        newQuestion.style.display = "block";
    }

            

            console.log(JsonObject);
            output.innerHTML += "<p>Vad heter ditt djur?</p>";
            document.getElementById("yesBtn").disabled = true;
            document.getElementById("noBtn").disabled = true;   

            
            
           
            
            
            // output.innerText += newQuestion;
            // console.log(newQuestion); 
            // if(newQuestion)
            // output.innerText += newQuestion;
            // output.innerText += "Vad skiljer en found";
        
            }
            //}
});

//  newQuestion.addEventListener("keyup", function(event) {
  

//   // Cancel the default action, if needed
//   event.preventDefault();
  
//   // Number 13 is the "Enter" key on the keyboard
//   if (event.which === 13 && newQuestion != "") {
var ddd =0;
    submitAnswer.addEventListener("click",function(){
        ddd++;

         if(ddd==2){
            if (newQuestion != "") {
     
     newQuestion = document.getElementById('newQuestion').value;
     saveToJson = {id:count,question: newQuestion}
       
       console.log(saveToJson);
       output.innerText += newQuestion;
                
    console.log(newQuestion);
    newQuestion = document.getElementById('newQuestion');
        console.log('heppslit');
        if (newQuestion.style.display === "block") {
            newQuestion.style.display = "none";}
            document.getElementById("yesBtn").disabled = false;
                document.getElementById("noBtn").disabled = false;
           pushToJson(saveToJson);
            UpdateJsonFile(JsonObject);
    }
         }
         if(ddd==1){
      console.log("enter");
      if (newQuestion != "") {
     
    newQuestion = document.getElementById('newQuestion').value;
    saveToJson = {id:count*2,animal: newQuestion}
      
      console.log(saveToJson);
      output.innerText += newQuestion;
      document.getElementById("newQuestion").value = "";
      //var newAnimal = document.getElementById('submitAnswer');
      console.log("newanimal");
            // if(newAnimal){
                output.innerHTML += "<p>Vilken fråga skiljer djuren åt?</p>";
                pushToJson(saveToJson);
    
      }
         }
      console.log('nöstenute');
});
     function findId(JsonObject,count){
        return _.find(JsonObject,function(row){ return row.id == count });
    }

    function pushToJson(saveToJson){

        JsonObject.push(saveToJson)
}
    function UpdateJsonFile(JsonObject){
        var JsonString = JSON.stringify(JsonObject);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
    // if (this.readyState == 4 && this.status == 200) {
      
    // }
  };
  xhttp.open("POST","/", true),JSON;
  xhttp.send(JsonString);

  RefreshPage();
    }

    function RefreshPage(){
        location.reload();
    }
    function printQuestion(objectToPrint){
        output.innerHTML = "<p>" + objectToPrint.question + "</p>";
    }
    function printGuess(objectToPrint){
        output.innerHTML += "<p> Tänker du på " + objectToPrint.animal + "</p>";
    }
</script>

