<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/stylesheet" href="/stylesheet.css">
    <script type="text/javascript" src="script.js"></script>
   
    <title>Djurspelet</title>
</head>
<body>
    <h1>Djurspelet pau svenska</h1>
        
      
            
            
                <!-- <%if(ans=="y")%>           
                <%=jsonData[2].question%>
               -->
               
                <span id="count"></span>
          
           
               
           
         
                
            
    
        <form action="/" method="post">
        <input type="text" name="ans">
        <button id="yesBtn" name="answer" value ="Yes">Ja!</button>
        <button id="noBtn" name="answer" value="No">Nej!</button>
   
    </form>
        <br><br>
    <form action="/" method="post">
    <input type="text" placeholder="Fråga som urskiljer" name="question">
    <input type="submit" value="Skicka svar">
    </form>

    
</body>
</html>
<script>
var yesButton = document.getElementById('yesBtn');
var noButton = document.getElementById('noBtn');
var counter =  document.getElementById("count");
var count = 1;

sessionStorage.indexCount = 4
yesButton.addEventListener("click", function(){
    
    alert("click yes");
    count = count*=2;
    counter.innerHTML = count
//     sessionStorage.indexCount += sev;
//    console.log(sev);
//     counter.innerHTML= sessionStorage.indexCount;
   
       var re = JSON.parse("./dbAnimal.json");
       console.log(re);
     
});

noButton.addEventListener("click", function(){
    
    alert("click no");
    count = count*2+1;
    counter.textContent=count;
     
    
});

</script>

